/*
Theme Name: ChamaVet
Theme URI: https://wordpress.resultadosmobile.com.br/themes/chamavet/
Author: Resultados Mobile
Author URI: https://resultadosmobile.com.br/
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


/* ======|> # GERAL # <|====== */
html, body {

	background-color:	#FFFFFF;
	min-height:			100%;
	min-width:			100%;
	position:			relative;
	display:			table;
	height:				100%;
	width:				100%;

}


#tudo {

	min-height:			100%;
	min-width:			100%;
	position:			relative;
	display:			table;
	height:				100%;
	width:				100%;

}


* html #tudo {

	min-height:			100%;
	min-width:			100%;
	height:				100%;
	width:				100%;

}


/* ======|> # HEADER # <|====== */
header {

	padding-bottom:		15px;
	padding-top:		15px;
	max-width:			422px;
	font-size:			18px;
	position:			fixed;
	display:			table;
	z-index:			100;
	width:				100%;
	color:				#FFFFFF;
	left:				0px;
	top:				0px;

}


header .container { max-width: 442px; }


header #header-nav {
	
	background-color:	#908080;
	padding-bottom:		15px;
	padding-top:		15px;
	position:			absolute;
	left:				-100%;
	top:				0px;

}


header .glyphicon { font-size: 22px; color: #000000; font-weight: 300; }
header .button { cursor: pointer; }


header ul {

	font-weight:		400;
	list-style:			none;
	padding:			0px;
	margin:				15px 0px;

}


header ul li a,
header ul li a:link,
header ul li a:focus,
header ul li a:hover,
header ul li a:active,
header ul li a:visited {

	color:				#fd9;
}


header .btn { margin-bottom: 15px; font-size: 18px; }

h1, h2 {
	
	font-weight:			normal;
	font-size:				18px;
	display:				initial;

}


#header {

	background-color:		#841703;
	padding-bottom:			10px;
	padding-top:			10px;
	position:				fixed;
	z-index:				20;
	display:				table;
	color:					#FFFFFF;
	width:					100%;
	top:					0px;

}


#header a {

	position:				relative;
	display:				table;
	margin:					0px auto;

}


#header a > img { max-height: 36px; float: left; }

#header a > div {

	text-decoration:		none;
	margin-left:			8px;
	font-size:				26px;
	color:					#FFFFFF;
	float:					left;

}



/* ======|> # CONTENT # <|====== */
#content {

	padding-bottom:		55px;
	position:			relative;
	display:			table;
	width:				100%;

}


.clear { clear: both; }



/* ======|> # FOOTER # <|====== */
footer {

	background-color:	#908080;
	padding-bottom:		15px;
	padding-top:		15px;
	position:			absolute;
	display:			table;
	bottom:				0px;
	width:				100%;

}


#menu-menu-rodape {

	justify-content:	space-around;
	list-style:			none;
	font-size:			18px;
	padding:			0px;
	display:			flex;
	margin:				0px;

}


#menu-menu-rodape a,
#menu-menu-rodape a:link,
#menu-menu-rodape a:visited,
#menu-menu-rodape a:active,
#menu-menu-rodape a:focus {

	color:				#FFFFFF;

}