.section {

	background-position:	center;
	background-repeat:		no-repeat;
	background-size:		cover;
	padding-bottom:			20px;
	min-height:				100vh;

}


/* PRINCIPAL */
#receba-um-medico-veterinario-em-casa {

	line-height:			1.1;
	font-weight:			500;
	padding-top:			20px;
	font-size:				18px;
	color:					#FFFFFF;

}


#receba-um-medico-veterinario-em-casa img#logo { max-width: 162px; }


#receba-um-medico-veterinario-em-casa h3 {

	text-shadow:			0 0 12px rgba(0,0,0,.7);
	font-weight:			700;
	line-height:			1.1;
	box-sizing:				border-box;
	text-align:				center;
	font-size:				42px;
	margin:					0px;

}

#receba-um-medico-veterinario-em-casa div#instale { margin-bottom: 15px; margin-top: 30px; }

#receba-um-medico-veterinario-em-casa img#android { float: right; }





/* COMO VAMOS AJUDAR SEU PET */
#como-vamos-ajudar-seu-pet {
	
	background-color:		#EEECE1;
	font-size:				22px;
	color:					#C00000;

}


#como-vamos-ajudar-seu-pet #texto { margin-bottom: 60px; }


#como-vamos-ajudar-seu-pet h3 {

	margin-bottom:			10px;
	font-weight:			700;
	line-height:			1.1;
	margin-top:				20px;
	font-size:				40px;

}


#como-vamos-ajudar-seu-pet h4 {

	text-transform:			uppercase;
	font-weight:			700;
	font-size:				24px;
	
}


#como-vamos-ajudar-seu-pet .linha {
	
	border-left:			1px solid blue;
	position:				relative;
	display:				table;
	margin:					5px auto;
	height:					50px;
	width:					2px;

}





/* QUEM SOMOS */
#quem-somos {
	
	background-color:		#FBD7B9;
	padding-bottom:			20px;
	font-size:				18px;
	color:					#555555;

}


#quem-somos h3 {

	margin-bottom:			10px;
	font-weight:			700;
	line-height:			1.1;
	margin-top:				40px;
	font-size:				40px;

}


#quem-somos #conteudo {

	max-width:				912px;
	position:				relative;
	display:				table;
	margin:					40px auto !important;
	width:					100%;
	float:					none;

}


#quem-somos a {

	background-color:		red;
	text-decoration:		none;
	font-weight:			bold;
	text-align:				center;
	max-width:				310px;
	font-size:				24px;
	position:				relative;
	padding:				20px;
	display:				table;
	margin:					0px auto;
	color:					#FFFFFF;
	width:					100%;

}





/* NOSSOS MEDICOS VETERINARIOS */
#nossos-medicos-veterinarios {
	
	padding-bottom:			20px;
	text-shadow:			0 0 15px rgba(0,0,0,.8);
	font-weight:			bold;
	font-size:				24px;
	color:					#FFFFFF;

}


#nossos-medicos-veterinarios h3 {

	margin-bottom:			10px;
	font-weight:			700;
	line-height:			1.1;
	margin-top:				100px;
	font-size:				40px;

}


#nossos-medicos-veterinarios #conteudo {

	max-width:				912px;
	position:				relative;
	display:				table;
	margin:					40px auto !important;
	width:					100%;
	float:					none;

}






/* ATENDA COM A CHAMAVET */
#atenda-com-a-chamavet {
	
	background-color:		#D9D9D9;
	padding-bottom:			20px;
	font-weight:			bold;
	font-size:				20px;
	color:					#000000;

}


#atenda-com-a-chamavet h3 {

	margin-bottom:			80px;
	font-weight:			700;
	line-height:			1.1;
	margin-top:				80px;
	font-size:				40px;

}


#atenda-com-a-chamavet #subtitulo { margin-bottom: 20px; }


#atenda-com-a-chamavet #conteudo {

	background-color:		#FFC000;
	font-weight:			700;
	font-size:				26px;
	padding:				15px;
	color:					#FFFFFF;

}






/* CADASTRE-SE */
#cadastre-se { padding-bottom: 20px; }


#cadastre-se .conteudo {

	text-shadow:			0 0 15px rgba(0,0,0,.8);
	font-weight:			bold;
	font-size:				24px;
	color:					#FFFFFF;

}

#cadastre-se h3 {

	margin-bottom:			80px;
	font-weight:			700;
	line-height:			1.1;
	margin-top:				80px;
	font-size:				40px;

}


#cadastre-se button#sou-veterinario {

	background-color:		#5BC0DE;
	text-decoration:		none;
	font-weight:			bold;
	text-align:				center;
	max-width:				310px;
	font-size:				24px;
	position:				relative;
	padding:				20px;
	display:				table;
	border:					0px;
	margin:					50px auto 0px;
	color:					#FFFFFF;
	width:					100%;

}



/* ======|> # RESPONSIVO # <|====== */

@media (max-width: 320px) {

	/* PRINCIPAL */
	#receba-um-medico-veterinario-em-casa img#android { float: none; }

}
